.App {
  justify-items: center;
  font-family: 'Source Code Pro';
}

h3, h5 {
  text-align: center;
}

button {
  width: 100%;
  text-align: center;
  margin: .5rem 0 .5rem 0;
}

.reset-button:hover {
  animation: reset .5s infinite;
}


@keyframes reset {
  0% {background-color: white;}
  50% {background-color: red; color: white}
  100% {background-color: white;}
}

.vl {
  border-right: 1px solid black;
  margin-left: 3rem;
}