/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.fretboard {
  display: flexbox;
  width: 80vw;
  height: 40vh;
  align-items: center;
}

.string {
  margin-bottom: 1rem;
}

.fret {
  border: 1px solid black;
  user-select: none;
  padding: 1rem;
}

.neutral {
  margin: 1rem;
  background-color: white;
}

.current {
  margin: 1rem;
  background-color: lavender;
}

.target {
  margin: 1rem;
  background-color: salmon;
}

.common {
  margin: 1rem;
  background-color: yellow;
}

.formsContainer {
  display: flex;
  flex-direction: row;
}
